# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Node
node_modules/
.plasmo/
build/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/
.coverage
htmlcov/
